.wrapper {
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: rgb(235, 234, 232);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12),
    1px 4px 4px 4px rgba(0, 0, 0, 0.06);
}
